.header {
    box-shadow: 0 2px 2px 0 var(--box-shadow);
    background-color: var(--content-bg);
    position: sticky;
    top: 0;
    z-index: 999;
}

.header-content {
    padding-block: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content a {
    font-size: 24px;
    font-weight: 800;
}

.theme-changer {
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.theme-changer span {
    display: inline-block;
}

.theme-changer .icon {
    margin-right: 0.2rem;
}

@media screen and (max-width: 400px) {
    .header-content a {
        font-size: 18px;
    }

    .theme-changer {
        font-size: 0.85rem;
    }
}