@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:300,regular,600,800);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito Sans, sans-serif;
}

body {
    --background-color: #fff;
    --text-color: #000;
    --content-bg: #fff;
    --box-shadow: #eee;
    background-color: var(--background-color);
    color: var(--text-color);
}

body.dark-mode {
    --background-color: #111;
    --text-color: #fff;
    --content-bg: #2b3743;
    --box-shadow: transparent;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    margin-inline: 0;
    padding-inline: 1rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-inline: -1rem;
}

[class*="col"] {
    padding-inline: 1rem;
}

.col-12 {
    width: 100%;
}

.d-flex {
    display: flex;
}

.no-country-found {
    text-align: center;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    color: #ccc;
    font-weight: 600;
}

@media screen and (min-width: 576px) {
    .container {
        margin-inline: 50px;
    }

    .col-sm-6 {
        width: 50%;
    }
}

@media screen and (min-width: 768px) {
    .container {
        margin-inline: 80px;
    }

    .col-md-6 {
        width: 50%;
    }
}

@media screen and (min-width: 992px) {
    .container {
        margin-inline: 100px;
    }

    .col-lg-4 {
        width: 33.3333%;
    }

}

@media screen and (min-width: 1200px) {
    .container {
        margin-inline: 120px;
    }

    .col-xl-4 {
        width: 33.3333%;
    }
}

@media screen and (min-width: 1400px) {
    .container {
        margin-inline: 150px;
    }

    .col-xxl-3 {
        width: 25%;
    }
}

@media screen and (min-width: 1700px) {
    .container {
        margin-inline: 200px;
    }
}